#form-contact 
{
    position: relative;
    margin-top: 4px;
}

#form-contact .error, #form-contact .empty 
{
    text-align: right;
    color: red;
    right: 10px;
    top: 5px;
    font-size: 10px;
    line-height: 1.25em;
    display: none;
    overflow: hidden;
    position: absolute;
}

#form-contact .success 
{
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 99;
    text-align: center;
    padding: 56px 0;
    outline: none;
    display: none;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #3e3938;
    background: #1c1b1a;
    color: #fff;
}

#form-contact label 
{
    display: inline-block;
    position: relative;
    min-height: 51px;
    width: 100%;
}

#form-contact label.message {padding-bottom: 0;}

#form-contact label input,
#form-contact label textarea 
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    float: left;
    font-family: inherit;
    font-size: 12px;
    color: #6e6c68;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
#form-contact label input 
{
    height: 41px; 
    margin: 0px 0 0px 0;
    width: 100%;
    padding: 14px 0 10px 16px;
    vertical-align: middle;
}
#form-contact label textarea 
{
    height: 218px;
    overflow: auto;
    width: 100%;
    padding: 14px 0 10px 16px;
    font-size: 12px;
    margin: 0px;
    resize: none;
}
.form-buttons a 
{
    float: left;
    margin-top: 27px;
    margin-right: 20px;
}

.form-buttons a:hover
{
    color: #fff;
    text-decoration: underline;
}

.btn-form
{
    width: 100px;
    padding: 8px 0;    
    border: 1px solid #68686a;
    background: linear-gradient(to bottom, #bbb, #68686a) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

fieldset
{
    border: 0 none;
}