---
import "/src/main.css";
import Layout from "../layouts/Layout.astro";
import PageHeader from "../layouts/PageHeader.astro";
import Header from "../layouts/Header.astro";
import ProductProfile from "../layouts/ProductProfile.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout>
	<Header />
	<PageHeader />
	<main>
		<article class="py-12">
			<div class="paddings mb-8">
				<h3 class="mb-1 text-center text-xl uppercase">
					Jak zdefiniować własne wydruki seryjne?
				</h3>
				<p class="mb-4 text-center text-base text-zinc-400">
					Michał Słowik, poniedziałek, 30 maja 2022 10:45
				</p>
			</div>
			<figure class="paddings mx-auto mb-8 max-w-4xl">
				<a
					class=""
					href="{$smarty.const.BASE_URL}upload/{$article.filename}"
					title="{$article.title}"
					><img
						class="mb-2 aspect-[3/2] max-h-96 w-full rounded-xl object-cover"
						src="/assets/images/ibard.png"
						alt="{$article.title}"
					/></a
				>
				<figcaption class="text-sm text-zinc-400">
					Fig.1 - Trulli, Puglia, Italy.
				</figcaption>
			</figure>
			<div class="paddings mx-auto max-w-4xl">
				<p class="text-base">
					Chmura danych staje się coraz bardziej popularnym rozwiązaniem. Dzięki
					temu łatwo uzyskać dostęp do prywatnych danych z każdego miejsca na
					ziemi, a także dzielić się nimi z innymi za niski koszt. Jednak nie
					wszystkie usługi chmurowe są takie same. Jeśli chcesz korzystać z
					chmury dla swojej firmy, musisz wybrać opcję, która zapewni
					bezpieczeństwo danych biznesowych. Najważniejszą funkcją jest liczba
					użytkowników, ponieważ każdy pracownik musi otrzymać indywidualny
					login i różne uprawnienia. Kolejnym ważnym aspektem jest wersjonowanie
					danych, aby można było przywrócić poprzednie wersje. Linkowanie jest
					również kluczowe, aby łatwo udostępniać dane z klientami. W skrócie,
					chmura danych to inwestycja, która warto rozważyć dla swojej firmy.
				</p>
			</div>
		</article>
	</main>
	<Footer />
</Layout>
