---
import Header from "../layouts/Header.astro";
import PageHeader from "../layouts/PageHeader.astro";
import AboutCoop from "../layouts/AboutCoop.astro";
import Footer from "../layouts/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/src/main.css" />
		<meta name="generator" content={Astro.generator} />
	</head>

	<body class="overflow-x-hidden">
		<Header />
		<PageHeader />
		<AboutCoop />
		<Footer />
	</body>
</html>
