---
import "/src/main.css";

import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Hero from "../layouts/Hero.astro";
import About from "../layouts/About.astro";
import Values from "../layouts/Values.astro";
import Coop from "../layouts/Coop.astro";
import Products from "../layouts/Products.astro";
import Partners from "../layouts/Partners.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout>
	<Header />
	<main>
		<Hero />
		<About />
		<Values />
		<Coop />
		<Products />
		<Partners />
	</main>
	<Footer />
</Layout>
