---
import "/src/main.css";

import Layout from "../layouts/Layout.astro";
import PageHeader from "../layouts/PageHeader.astro";
import Header from "../layouts/Header.astro";
import Title from "../components/Title.astro";
import ProductProfile from "../layouts/ProductProfile.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout>
	<Header />
	<PageHeader />
	<main class="paddings bg-zinc-100 py-12">
		<Title title="Formularz kontaktowy" />
		<form action="" class="mx-auto flex max-w-xl flex-col flex-wrap">
			<div class="mb-4 flex flex-col gap-4 sm:flex-row">
				<div class="flex w-full flex-col gap-2">
					<label for="name">Imię i Nazwisko*</label>
					<input type="text" name="name" class="input w-full" required />
				</div>
				<div class="flex w-full flex-col gap-2">
					<label for="email">Adres E-mail*</label>
					<input type="email" name="email" class="input w-full" required />
				</div>
			</div>
			<div class="mb-4 flex flex-col gap-2">
				<label for="subject">Temat</label>
				<input type="text" name="subject" class="input w-full" />
			</div>
			<div class="mb-2 flex flex-col gap-2">
				<label for="message">Treść*</label>
				<textarea
					name="message"
					id=""
					cols="30"
					rows="10"
					class="input w-full"
					required></textarea>
			</div>
			<span class="mb-4 text-zinc-400">* Pola z gwiazdką są wymagane!</span>
			<div class="mb-8">
				<input
					id="agreement"
					type="checkbox"
					name="agreement"
					value="true"
					data-required=""
					class="field-error"
					required
				/>
				<label for="agreement"
					>Oświadczam, że zapoznałem się z <a href="#">Polityką prywatności</a> i
					akceptuję jej postanowienia. Moje dane osobowe, wskazane w formularzu,
					będą przetwarzane w celu udzielenia odpowiedzi na przesłane zapytanie.</label
				>
			</div>
			<!-- {if $show_captcha} -->
			<div class="">
				<div id="captcha"></div>
				<div class="clear"></div>
				<input
					class="form-field input"
					type="text"
					name="captcha_code"
					placeholder="Kod z obrazka*"
					data-required
					required
				/>
			</div>
			<!-- {/if} -->
			<div class="flex justify-end">
				<button class="button_secondary w-full" type="submit" name="send"
					>Wyślij<span class="material-symbols-outlined">send</span></button
				>
			</div>
		</form>
	</main>
	<Footer />
</Layout>

<!-- 
{if $_CFG.contact_form_on == 1}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-wrapper">
                <h3>{$_CFG.contact_form_desc}</h3>
                <form id="form-contact" action="{$smarty.const.BASE_URL}/bat/ajaxContactForm.php" method="post">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="field">
                                <input class="form-field" type="text" name="name" placeholder="Imię i Nazwisko*" data-required/>
                                <span class="error-msg">Pole wymagane*</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="field">
                                <input class="form-field" type="text" name="email" placeholder="Adres e-mail*" data-describedby="email" data-description="email" data-validate="email" />
                                <span id="email" class="error-msg">Pole wymagane*</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="field">
                                <input class="form-field" type="text" name="subject" placeholder="Temat"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="field">
                                <textarea class="form-field" name="message" rows="6" placeholder="Treść*" data-required></textarea>
                                <span class="error-msg">Pole wymagane*</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="field">
                                <input id="agreement" type="checkbox" name="agreement" value="true" data-required="" class="field-error">
                                <span class="error-msg">Pole wymagane*</span>
                                <label for="agreement">Oświadczam, iż zapoznałem się z <a href="#" title="">Polityką prywatności</a> oraz akceptuję jej postanowienia. Moje dane osobowe wskazane w formularzu będą przetwarzane w celu udzielenia odpowiedzi na przesłane zapytanie.</label>
                            </div>
                        </div>
                    </div>                    
                    {if $show_captcha}
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div id="captcha"></div>
                                    </div>
                                    <div class="clear"></div><br/>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="field" style="width: 162px;">
                                            <input class="form-field" type="text" name="captcha_code" placeholder="Kod z obrazka*" data-required/>
                                            <span class="error-msg">Pole wymagane*</span>
                                        </div>							
                                    </div>                        
                                </div>
                            </div>
                        </div>                
                    {/if}
                    <div class="form-buttons">
                        <button class="btn-normal btn-form" type="submit" name="send"><span>Wyślij</span></button>
                        <span class="pull-right">* Pola z gwiazdką są wymagane!</span>
                    </div>
                </form>
            </div>
        </div>			
    </div>
    <div class="solidline"></div>
{/if} 
-->
