---
import "/src/main.css";

import Layout from "../layouts/Layout.astro";
import PageHeader from "../layouts/PageHeader.astro";
import Header from "../layouts/Header.astro";
import Filters from "../layouts/Filters.astro";
import Shop from "../layouts/Shop.astro";
import Footer from "../layouts/Footer.astro";
---

<Layout>
	<Header />
	<PageHeader />
	<Filters />
	<main>
		<Shop />
	</main>
	<Footer />
</Layout>
