---
const { icon, title, desc, price } = Astro.props;
---

<div
	class="flex min-h-[420px] min-w-[256px] max-w-[300px] flex-1 snap-center snap-always flex-col border bg-white pt-8">
	<div class="mx-6 flex justify-center">
		<img class="mb-8" width="80" width="80" src={icon} alt="illustration" />
	</div>

	<div class="mx-6 mb-4 flex flex-grow flex-col">
		<h4 class="mb-4 text-center font-semibold">{title}</h4>
		<p class="line-clamp-3 text-center text-base">
			{desc}
		</p>
	</div>

	<div class="mx-6 mb-4 flex flex-col items-end justify-end">
		<span class="text-right font-semibold">{price}</span>
		<span class="text-right text-sm">netto/rok</span>
	</div>

	<a
		class="flex h-14 w-full flex-row items-center justify-center gap-2 bg-blue font-semibold text-white transition-colors hover:bg-yellow hover:text-black"
		href="https://abruzzo.com.pl/oprogramowanie/">
		Więcej o produkcie
	</a>
</div>
