---
const { icon, title, desc, price, cta } = Astro.props;
---

<div
	class="embla__slide flex min-w-[0%] flex-col border bg-white pt-8 md:flex-1">
	<div class="mx-6 flex justify-center">
		<img class="mb-8" width="80" width="80" src={icon} alt="illustration" />
	</div>

	<div class="mx-6 mb-4 flex flex-grow flex-col">
		<h4 class="mb-4 text-center font-semibold">{title}</h4>
		<p class="line-clamp-4 text-center text-base">
			{desc}
		</p>
	</div>

	<div class="mx-6 mb-4 flex flex-col items-end justify-end">
		<span class="text-right font-semibold">{price}</span>
		<span class="text-right text-sm">netto/rok</span>
	</div>
	{
		cta ? (
			<a
				class="bg-blue hover:bg-yellow flex h-14 w-full flex-row items-center justify-center gap-2 font-semibold text-white transition-colors hover:text-black"
				href="https://abruzzo.com.pl/oprogramowanie/">
				Więcej o produkcie
			</a>
		) : undefined
	}
</div>
