---
const { icon, title, desc, cta } = Astro.props;
---

<div class="flex flex-col border bg-white pt-8">
	<div class="flex justify-center">
		<img class="mb-8" width="80" width="80" src={icon} alt="illustration" />
	</div>
	<div class="flex flex-grow flex-col px-6 last:mb-8">
		<h2 class="mb-4 text-center text-xl font-semibold">{title}</h2>
		<p class="text-center text-base">{desc}</p>
	</div>
	{
		cta ? (
			<a
				class="text-abruzzo-blue-500 group flex h-20 items-center justify-center gap-2 font-semibold"
				href="https://abruzzo.com.pl/oprogramowanie/"
			>
				Dowiedz się więcej
				<img class="transition group-hover:translate-x-2" src="/assets/images/arrow.svg" alt="arrow" />
			</a>
		) : undefined
	}
</div>
