@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Material Symbols Outlined";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v104/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzazHD_dY43zj-jCxv3fzvRNU22ZXGJpEpjC_1p-p_4MrImHCIJIZrDCvHOej.woff2)
		format("woff2");
}

.material-symbols-outlined {
	font-family: "Material Symbols Outlined";
	font-weight: normal;
	font-style: normal;
	line-height: inherit;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

@layer base {
	html {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-display: swap;
		text-rendering: optimizeLegibility;
	}

	h1 {
		@apply text-xl;
		@apply sm:text-2xl;
		@apply tracking-wide;
		@apply leading-tight;
	}

	h2 {
		@apply text-lg;
		@apply sm:text-xl;
		@apply leading-normal;
	}

	h3 {
		@apply text-lg;
		@apply leading-normal;
	}

	h4 {
		@apply text-base;
		@apply leading-normal;
	}

	h5 {
		@apply text-base;
		@apply leading-normal;
	}

	p {
		@apply leading-relaxed;
	}

	a {
	}

	strong {
		@apply !font-semibold;
	}

	.paddings {
		@apply px-6;
		@apply xl:px-0;
	}
}

@layer components {
	.input {
		@apply border;
		@apply px-6;
		@apply text-base;
		@apply bg-white;
		@apply min-h-[48px];
	}
	.select {
		-moz-appearance: none; /* Firefox */
		-webkit-appearance: none; /* Safari and Chrome */
		appearance: none;
		@apply flex-shrink;
		background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
		background-repeat: no-repeat;
		background-position-x: calc(100% - 8px);
		background-position-y: 12px;
		cursor: pointer;
	}
	.menu {
		@apply hidden;
		@apply gap-4;
		@apply sm:flex;
		@apply md:gap-8;
	}
	.menu_mobile {
		@apply z-20;
		@apply flex;
		@apply flex-col;
		@apply py-4;
		@apply sm:flex;
		@apply lg:gap-8;
	}
	.menu_mobile a {
		@apply px-6;
		@apply py-3;
		@apply hover:bg-[#eee];
	}
	.menu .current,
	.menu_mobile .current {
		@apply font-semibold;
	}
	.button_primary {
		@apply whitespace-nowrap;
		@apply h-12;
		@apply sm:max-w-[256px];
		@apply px-8;
		@apply flex;
		@apply justify-center;
		@apply text-center;
		@apply items-center;
		@apply transition-colors;
		@apply bg-blue;
		@apply text-white;
		@apply font-semibold;
	}
	.button_secondary {
		@apply whitespace-nowrap;
		@apply h-12;
		@apply sm:max-w-[256px];
		@apply px-12;
		@apply flex;
		@apply justify-center;
		@apply text-center;
		@apply items-center;
		@apply transition-colors;
		@apply border;
		@apply border-blue;
		@apply bg-lightblue;
		@apply hover:bg-blue;
		@apply font-semibold;
		@apply text-blue;
		@apply hover:text-white;
		@apply gap-2;
	}
	.hero-sec::before {
		content: "";
		@apply absolute;
		@apply inset-0;
		@apply bg-slate-900/50;
		@apply backdrop-brightness-50;
		@apply -z-[1];
	}
	.slider {
		@apply scroll-px-6;
		@apply xl:scroll-px-[unset];
		@apply snap-x;
		@apply snap-mandatory;
		@apply overflow-x-scroll;
		@apply overscroll-x-contain;
		@apply scroll-smooth;
		touch-action: pan-x;
		-ms-overflow-style: none !important; /* IE and Edge */
		scrollbar-width: none !important; /* Firefox */
	}
	.slider::-webkit-scrollbar {
		@apply lg:hidden !important;
	}
	.card {
		@apply border;
		@apply bg-white;
	}
}
