---
import Title from "../components/Title.astro";
---

<section class="py-12">
	<div class="mx-auto w-full max-w-4xl flex-col">
		<Title title="Czym się zajmujemy" />
		<div
			class="paddings flex flex-col items-center justify-center gap-8 md:flex-row">
			<div class="flex-[3]">
				<p class="max-w-[620px]">
					Realizujemy projekty w sposób przejrzysty, stosując nieszablonowe
					podejście i dostosowując rozwiązania do indywidualnych potrzeb
					klientów. <a
						class="font-semibold text-blue"
						href="https://abruzzo.com.pl/partner-comarch/"
						>Jesteśmy partnerem firmy Comarch</a
					> i specjalizujemy się w tworzeniu dodatków, które rozszerzają możliwości
					oprogramowania <a
						class="inline-flex items-center gap-1 font-semibold text-blue"
						href="https://www.comarch.pl/erp/comarch-optima/"
						>Comarch ERP Optima<img
							class="inline"
							src="/assets/images/new_window.svg"
							alt=""
							width="16"
							height="16"
						/></a
					> oraz w rozwiązywaniu nietypowych problemów biznesowych u naszych klientów.
					Ponadto, wdrażamy
					<span class="font-semibold">własne rozwiązania ERP</span>, które
					automatyzują wybrane obszary biznesowe.
				</p>
			</div>
			<div class="flex flex-[2] justify-end">
				<img width="320" src="assets/images/first.jpg " alt="illustration" />
			</div>
		</div>
	</div>
</section>
