---
import Title from "../components/Title.astro";
import ValueCard from "../components/ValueCard.astro";
---

<main class="py-12">
	<article class="mb-12 w-full">
		<div class="mx-auto w-full max-w-4xl flex-col">
			<Title title="O współpracy" />
			<div class="paddings flex flex-col">
				<p class="mb-4">
					Współpracujemy z najlepszymi producentami oprogramowania,
					wykorzystując tylko <strong>
						sprawdzone i stabilne rozwiązania</strong
					>. Jesteśmy autoryzowanym partnerem firmy COMARCH.
				</p>
				<p class="mb-4">
					W naszych kompetencjach znajdują się również <strong
						>integracje z oprogramowaniem Comarch</strong
					>, co pozwala nam na lepsze dostosowanie funkcjonalności do
					indywidualnych potrzeb naszych klientów. Oferujemy wdrożenia rozwiązań
					w wersji stacjonarnej lub w chmurze, a także <strong
						>aplikacje w wygodnej formie dla smartfonów i tabletów</strong
					>.
				</p>
				<p class="mb-12">
					Oprogramowanie COMARCH zyskało już zaufanie ponad <strong
						>70 000 polskich firm</strong
					> z różnych branż.
				</p>
				<figure class="">
					<img
						class="mb-2 h-[320px] rounded object-cover"
						width="1024"
						src="/assets/images/comarch.png "
						alt="illustration"
					/>
					<figcaption class="text-sm text-zinc-400">
						Fig.1 - Trulli, Puglia, Italy.
					</figcaption>
				</figure>
			</div>
		</div>
	</article>
	<article id="optima" class="mb-12 w-full">
		<div class="mx-auto w-full max-w-4xl flex-col">
			<Title title="Comarch ERP OPTIMA" />
			<div class="paddings flex flex-col">
				<p class="mb-4">
					Comarch ERP Optima to najpopularniejszy w Polsce program stworzony <strong>
						dla małych i średnich firm z każdej branży
					</strong>. Dzięki zachowaniu zgodności z obowiązującym polskim prawem
					i dostosowaniu do specyfiki naszego rynku, oprogramowanie jest
					bezkonkurencyjne w porównaniu do zagranicznych rozwiązań. Dzięki
					modułowości, program może zostać <strong
						>dostosowany do indywidualnych potrzeb użytkownika</strong
					>, wspierając kontakty z klientami, prowadzenie księgowości,
					realizację zamówień czy kontrolowanie stanu magazynu.
				</p>
				<p class="">
					Oprogramowanie jest dostępne zarówno w modelu stacjonarnym (z
					wykorzystaniem własnej infrastruktury), jak i w chmurze (model
					abonamentowy). Dzięki temu, użytkownicy mogą kompleksowo zarządzać
					procesami w firmie <strong
						>za pomocą przeglądarki internetowej z dowolnego miejsca</strong
					>.
				</p>
			</div>
		</div>
	</article>
	<section class="mb-12 bg-zinc-100 py-12">
		<div class="mx-auto w-full flex-col">
			<Title title="Najważniejsze zalety i korzyści" />
			<div
				class="paddings flex flex-col items-center justify-center gap-x-8 gap-y-12">
				<div
					class="grid w-full max-w-6xl auto-rows-auto grid-cols-[repeat(auto-fill,minmax(220px,1fr))] gap-4 lg:gap-8">
					<ValueCard
						icon="/assets/images/gear.svg"
						title="Aktualność"
						desc="System jest na bieżąco z polskim prawem, które w ostatnim czasie zmienia się bardzo dynamicznie."
					/>
					<ValueCard
						icon="/assets/images/robot.svg"
						title="Automatyzacja"
						desc="Program automatyzuje wiele czynności, w tym import przelewów z banku, rozliczenia płatności, wystawianie i wysyłkę faktur."
					/>
					<ValueCard
						icon="/assets/images/support.svg"
						title="Wsparcie"
						desc="Społeczność Comarch ERP to miejsce, gdzie specjaliści, partnerzy i klienci mogą szybko uzyskać wsparcie, dzielić się pomysłami i wiedzą."
					/>
					<ValueCard
						icon="/assets/images/growth.svg"
						title="Monitoring"
						desc="Raporty pokazują obecne trendy i procesy, co pozwala na szybkie podejmowanie decyzji i dalszy rozwój."
					/>
				</div>
			</div>
		</div>
	</section>
	<article id="xt" class="mb-12 w-full">
		<div class="mx-auto w-full max-w-4xl flex-col">
			<Title title="Comarch ERP XT" />
			<div class="paddings flex flex-col">
				<p class="mb-4">
					Comarch ERP XT to intuicyjny program w chmurze Comarch, który jest
					dostępny również z poziomu aplikacji mobilnej. Program ten integruje i
					automatyzuje najważniejsze procesy związane z prowadzeniem małego
					biznesu. Obsługa sprzedaży stacjonarnej i internetowej płynnie łączy
					się z wystawianiem faktur, księgowością i magazynem. Dzięki
					technologii opartej o sztuczną inteligencję, możliwe jest wprowadzanie
					dokumentów do systemu za pomocą zdjęć, a raportowanie umożliwia
					analizę wyników firmy.
				</p>
				<p class="mb-12">
					Comarch ERP XT to także system integracji z innymi rozwiązaniami
					Comarch, takimi jak e-Sklep, e-Sale (Allegro, eBay) oraz obsługa PPK.
					Oprogramowanie jest dostępne w modelu usługowym - w chmurze, a do jego
					uruchomienia wystarczy przeglądarka internetowa.
				</p>
				<figure class="">
					<img
						class="mb-2 h-[320px] rounded object-cover"
						width="1024"
						src="/assets/images/xt.png"
						alt="illustration"
					/>
					<figcaption class="text-sm text-zinc-400">
						Fig.1 - Trulli, Puglia, Italy.
					</figcaption>
				</figure>
			</div>
		</div>
	</article>
	<article id="ibard" class="w-full">
		<div class="mx-auto w-full max-w-4xl flex-col">
			<Title title="Comarch IBARD" />
			<div class="paddings flex flex-col">
				<p class="mb-4">
					Comarch IBARD to usługa bezpiecznego przechowywania danych w chmurze,
					umożliwiająca wykonywanie kopii zapasowych i synchronizację danych.
				</p>
				<p class="mb-4">
					W aplikacji Comarch IBARD można zdefiniować zadanie backupu dla każdej
					bazy danych MS SQL, niezależnie od używanej aplikacji. IBARD pozwala
					na dostosowanie częstotliwości przesyłania kopii zapasowej do chmury w
					zależności od indywidualnych wymagań, określenie liczby
					przechowywanych kopii pełnych lub różnicowych oraz ustawienie
					powiadomień o tym, z jakim efektem zakończyło się konkretne zadanie
					backupu.
				</p>
				<p class="mb-4">
					Dzięki integracji międzysystemowej, klienci Comarch ERP OPTIMA mogą w
					kilku prostych krokach skonfigurować automatyczną kopię bezpieczeństwa
					bezpośrednio w używanym programie.
				</p>
				<p class="mb-12">
					IBARD cieszy się zaufaniem małych, średnich i dużych firm w całej
					Europie, które poszukują bezpiecznego systemu do backupu,
					przechowywania i udostępniania danych.
				</p>
				<figure class="w-[stretch]">
					<img
						class="mb-2 h-[320px] rounded object-cover"
						width="1024"
						src="/assets/images/ibard.png"
						alt="illustration"
					/>
					<figcaption class="text-sm text-zinc-400">
						Fig.1 - Trulli, Puglia, Italy.
					</figcaption>
				</figure>
			</div>
		</div>
	</article>
</main>
