---
import Title from "../components/Title.astro";
---

<section class="py-12">
	<div class="mx-auto w-full max-w-4xl flex-col">
		<Title title="Współpraca z Comarch" />
		<div
			class="margins flex flex-col items-center justify-center gap-8 md:flex-row">
			<div class="flex-[3] md:order-1">
				<p class="mb-4 max-w-lg">
					Współpracujemy z najlepszymi producentami oprogramowania,
					wykorzystując tylko sprawdzone i stabilne rozwiązania. Jesteśmy
					autoryzowanym partnerem firmy Comarch.
				</p>
				<a
					class="group font-semibold text-blue"
					href="https://abruzzo.com.pl/promocja-dla-nowopowstalych-firm/"
					>Sprawdź naszą promocję dla nowo powstałych firm</a
				>
			</div>
			<div class="flex-[2]">
				<img width="320" src="assets/images/second.jpg " alt="illustration" />
			</div>
		</div>
	</div>
</section>
