---
---

<footer>
	<div class="min-h-[200px] w-full bg-zinc-800">
		<div
			class="margins grid h-full max-w-6xl grid-cols-1 gap-8 pb-12 pt-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
			<div class="sm:max-md:col-span-2">
				<img
					class="max-w-[128px]"
					src="/assets/images/logo-footer.png"
					alt=""
				/>
			</div>
			<div class="md:flex-shrink-0">
				<h4 class="mb-3 font-semibold text-white">Dane teleadresowe</h4>
				<ul class="flex flex-col items-start gap-2">
					<li class="flex text-zinc-400 hover:text-white">
						<span class="material-symbols-outlined mr-2 text-base/6"
							>location_on</span
						> ul. Jana Surzyckiego 16A, 30-721 Kraków
					</li>
					<li class="flex text-zinc-400 hover:text-white">
						<span class="material-symbols-outlined mr-2 text-base/6">phone</span
						>+48 507 876 714
					</li>
					<li class="flex text-zinc-400 hover:text-white">
						<span class="material-symbols-outlined mr-2 text-base/6">mail</span
						>biuro@abruzzo.com.pl
					</li>
					<li class="flex text-zinc-400 hover:text-white">
						<span class="material-symbols-outlined mr-2 text-base/6"
							>description</span
						>NIP: 6793192373
					</li>
				</ul>
			</div>
			<div class="md:flex-shrink-0">
				<h4 class="mb-3 font-semibold text-white">Firma</h4>
				<ul class="flex flex-col items-start gap-2">
					<a
						href="https://abruzzo.com.pl/promocja-dla-nowopowstalych-firm/"
						class="text-zinc-400 hover:text-white"
						>Promocja dla nowopowstałych firm</a
					>
					<a
						href="https://abruzzo.com.pl/partner-comarch/"
						class="text-zinc-400 hover:text-white">Partner Comarch</a
					>
					<a
						href="https://abruzzo.com.pl/kariera/"
						class="text-zinc-400 hover:text-white">Kariera</a
					>
					<a
						href="https://abruzzo.com.pl/polityka-prywatnosci/"
						class="text-zinc-400 hover:text-white"
						>Polityka prywatności i Cookies</a
					>
				</ul>
			</div>
		</div>
	</div>
	<div class="min-h-[48px] w-full bg-zinc-950">
		<div
			class="margins flex h-full max-w-6xl items-center justify-center py-3 sm:justify-start">
			<span class="text-center text-sm text-zinc-500"
				>© 2023 abruzzo.com.pl | Projekt i wykonanie webideas.pl, design
				nazario.dev</span
			>
		</div>
	</div>
</footer>
