---
---

<section
	class="hero-sec relative h-[720px] overflow-hidden bg-neutral-100 py-14 text-white">
	<div class="m-auto flex h-full w-full max-w-4xl flex-col justify-center">
		<div>
			<div class="margins mb-14 flex flex-col items-center text-center">
				<h1 class="mb-6 text-xl sm:text-2xl">OPROGRAMOWANIE SZYTE NA MIARĘ</h1>
				<h2 class="text-lg sm:text-xl">
					Rozszerzamy możliwości oprogramowania i automatyzujemy biznesowe
					procesy
				</h2>
			</div>
			<div class="margins flex flex-wrap justify-center gap-x-8 gap-y-4">
				<a class="cta bg-yellow text-black hover:bg-[#fde047]" href="#oferta"
					>Zobacz ofertę</a
				>
				<a
					class="cta border bg-slate-100/5 backdrop-blur-md hover:bg-slate-100/20"
					href="#produkty">Przeglądaj produkty</a
				>
			</div>
		</div>
	</div>
</section>
