---
---

<section
	class="hero-sec relative h-[calc(100vh-112px)] max-h-[720px] min-h-[512px] overflow-hidden bg-slate-900 bg-[url('/assets/images/main-banner.jpg')] bg-cover py-14 text-white backdrop-brightness-50"
>
	<div class="m-auto flex h-full w-full max-w-4xl flex-col justify-center">
		<div>
			<div class="paddings mb-14 flex flex-col items-center text-center">
				<h1 class="mb-6 text-xl sm:text-2xl">OPROGRAMOWANIE SZYTE NA MIARĘ</h1>
				<h2 class="text-lg sm:text-xl">
					Rozszerzamy możliwości oprogramowania i automatyzujemy biznesowe
					procesy
				</h2>
			</div>
			<div class="paddings flex flex-wrap justify-center gap-x-8 gap-y-4">
				<a
					class="button_primary flex-[1_1_128px] bg-yellow text-black hover:bg-lightyellow"
					href="#oferta">Zobacz ofertę</a
				>
				<a
					class="button_primary text-blacks flex-[1_1_128px] border border-yellow bg-yellow/20 hover:bg-yellow"
					href="#produkty">Przeglądaj produkty</a
				>
			</div>
		</div>
	</div>
</section>
