---
---

<div class="flex min-h-[56px] items-center justify-center bg-blue">
	<div
		class="paddings flex w-full max-w-4xl flex-col justify-center gap-x-2 gap-y-1 py-4 text-white md:flex-row md:justify-between md:py-3">
		<!-- <ul
			class="flex items-center gap-1 whitespace-nowrap text-sm text-[#eee] md:order-1 md:text-base">
			<li>Strona główna</li>
			<li class="before:content-['/_']">Comarch</li>
		</ul> -->

		<div class="flex flex-wrap items-center gap-x-4 gap-y-2">
			<h3 class="text-lg">Oprogramowanie Comarch</h3>
			<nav class="flex flex-wrap gap-2">
				<a
					class="flex h-6 items-center whitespace-nowrap rounded-sm bg-white px-2 text-sm text-blue hover:bg-[#eee]"
					href="#optima">ERP Optima</a
				>
				<a
					class="flex h-6 items-center whitespace-nowrap rounded-sm bg-white px-2 text-sm text-blue hover:bg-[#eee]"
					href="#xt">ERP XT</a
				>
				<a
					class="flex h-6 items-center whitespace-nowrap rounded-sm bg-white px-2 text-sm text-blue hover:bg-[#eee]"
					href="#ibard">IBARD</a
				>
			</nav>
		</div>
	</div>
</div>
