---
import Title from "../components/Title.astro";
import PartnerLogo from "../components/PartnerLogo.astro";
---

<section class="py-14">
	<div class="mx-auto flex w-full max-w-5xl flex-col items-center">
		<Title title="Zaufali nam" />
		<div class="margins flex flex-wrap justify-center gap-8">
			<PartnerLogo link="https://elzap.eu/" icon="/assets/images/elzap.jpg" />
			<PartnerLogo
				link="https://umstahl.pl/"
				icon="/assets/images/umstahl.jpg"
			/>
			<PartnerLogo
				link="https://umstuhl.pl/"
				icon="/assets/images/umstuhl.jpg"
			/>
		</div>
	</div>
</section>
