---
import Title from "../components/Title.astro";
import ProductCard from "../components/ProductCard.astro";
---

<section id="produkty" class="overflow-hidden bg-zinc-100 py-12">
	<div class="mx-auto flex w-full max-w-4xl flex-col items-center">
		<Title title="Nasze produkty" />

		<div class="paddings embla mb-8 w-full overflow-hidden">
			<div class="embla__container flex gap-8">
				<ProductCard
					icon="/assets/images/gear.svg"
					title="Comarch ERP Optima Płace i Kadry"
					desc="Dopasowane do potrzeb, kompleksowe zarządzanie procesami biznesowymi w przedsiębiorstwie."
					price="1625.00 zł"
					cta
				/>
				<ProductCard
					icon="/assets/images/robot.svg"
					title="Comarch IBARD ERP Backup 10GB"
					desc="Automatyzacje powtarzalnych i nieproduktywnych czynności wykonywanych przez człowieka."
					price="1625.00 zł"
					cta
				/>
				<ProductCard
					icon="/assets/images/support.svg"
					title="Comarch ERP OPTIMA - Pakiet START Firma"
					desc="Wsparcie, doradctwo i opieka w zakresie systemów teleinformatycznych."
					price="1625.00 zł"
					cta
				/>
			</div>
		</div>

		<a
			class="font-semibold text-blue"
			href="https://abruzzo.com.pl/oprogramowanie/">Zobacz wszyskie produkty</a
		>
	</div>
	<script src="../scripts/slider.js"></script>
</section>
