---
import ProductCard from "../components/ProductCard.astro";
import ValueCard from "../components/ValueCard.astro";
---

<section class="overflow-hidden bg-zinc-100 py-12">
	<div class="mx-auto flex w-full max-w-4xl flex-col items-center">
		<form id="">
			<label class="">Szukaj wg kategorii</label>
			<select class="" name="ord[alphabetical]">
				<option value="">---- n/d ----</option>
				<!-- {html_checkboxes2 name="tags" options=$arrTags selected=$smarty.get.tags wrapper="li"} -->
			</select>
			<div class="field">
				<div id="checkbox-list" class="dropdown-checkbox-list" tabindex="100">
					<span class="label">Wybierz z listy</span>
					<ul class="items">
						<li>
							<a href="#" data-toggle="dropdown-check-all">Zaznasz wszystkie</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="">
				<label class="">Widełki cenowe</label>
				<div class="">
					<div class="">
						<div class="">
							<input
								class="h-12 border px-6 text-base"
								type="text"
								name="price_from"
								placeholder="Cena od"
								value="{$smarty.get.price_from}"
							/>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="field">
							<input
								class="form-field"
								type="text"
								name="price_to"
								placeholder="Cena do"
							/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				<label class="input-label">Alfabetycznie</label>
				<div class="field">
					<select class="form-field" name="ord[alphabetical]">
						<option value="">---- n/d ----</option>
						<!-- {html_options options=$arrAscDesc selected=$smarty.get.ord.alphabetical} -->
					</select>
				</div>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				<label class="input-label">Cena</label>
				<div class="field">
					<select class="form-field" name="ord[price]">
						<option value="">---- n/d ----</option>
						<!-- {html_options options=$arrAscDesc selected=$smarty.get.ord.price} -->
					</select>
				</div>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				<label class="input-label">Popularność</label>
				<div class="field">
					<select class="form-field" name="ord[popularity]">
						<option value="">---- n/d ----</option>
						<!-- {html_options options=$arrAscDesc selected=$smarty.get.ord.popularity} -->
					</select>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="align-center">
					<button class="btn-normal" name="search" type="submit"
						><span>wyszukaj<i class="fa fa-search"></i></span></button
					>
				</div>
			</div>
		</form>

		<a
			class="clear-search-results"
			href="{$smarty.const.BASE_URL}{$smarty.get.page}/"
			title="wyczyść"><i class="fa fa-eraser"></i>&nbsp;&nbsp;Wyczyść</a
		>

		<div class="margins grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
			<ProductCard
				icon="/assets/images/gear.svg"
				title="Comarch ERP Optima Płace i Kadry"
				desc="Dopasowane do potrzeb, kompleksowe zarządzanie procesami biznesowymi w przedsiębiorstwie."
				price="1625.00 zł"
			/>
			<ProductCard
				icon="/assets/images/robot.svg"
				title="Comarch IBARD ERP Backup 10GB"
				desc="Automatyzacje powtarzalnych i nieproduktywnych czynności wykonywanych przez człowieka."
				price="1625.00 zł"
			/>
			<ProductCard
				icon="/assets/images/support.svg"
				title="Comarch ERP OPTIMA - Pakiet START Firma"
				desc="Wsparcie, doradctwo i opieka w zakresie systemów teleinformatycznych."
				price="1625.00 zł"
			/>
			<ProductCard
				icon="/assets/images/gear.svg"
				title="Comarch ERP Optima Płace i Kadry"
				desc="Dopasowane do potrzeb, kompleksowe zarządzanie procesami biznesowymi w przedsiębiorstwie."
				price="1625.00 zł"
			/>
			<ProductCard
				icon="/assets/images/robot.svg"
				title="Comarch IBARD ERP Backup 10GB"
				desc="Automatyzacje powtarzalnych i nieproduktywnych czynności wykonywanych przez człowieka."
				price="1625.00 zł"
			/>
			<ProductCard
				icon="/assets/images/support.svg"
				title="Comarch ERP OPTIMA - Pakiet START Firma"
				desc="Wsparcie, doradctwo i opieka w zakresie systemów teleinformatycznych."
				price="1625.00 zł"
			/>
		</div>
	</div>
</section>
