---
import ProductCard from "../components/ProductCard.astro";
import ValueCard from "../components/ValueCard.astro";
---

<section class="overflow-hidden bg-zinc-100 py-12">
	<div class="mx-auto flex w-full max-w-4xl flex-col items-center">
		<div class="paddings grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
			<ProductCard
				icon="/assets/images/gear.svg"
				title="Comarch ERP Optima Płace i Kadry"
				desc="Dopasowane do potrzeb, kompleksowe zarządzanie procesami biznesowymi w przedsiębiorstwie."
				price="1625.00 zł"
			/>
			<ProductCard
				icon="/assets/images/robot.svg"
				title="Comarch IBARD ERP Backup 10GB"
				desc="Automatyzacje powtarzalnych i nieproduktywnych czynności wykonywanych przez człowieka."
				price="1625.00 zł"
			/>
			<ProductCard
				icon="/assets/images/support.svg"
				title="Comarch ERP OPTIMA - Pakiet START Firma"
				desc="Wsparcie, doradctwo i opieka w zakresie systemów teleinformatycznych."
				price="1625.00 zł"
			/>
			<ProductCard
				icon="/assets/images/gear.svg"
				title="Comarch ERP Optima Płace i Kadry"
				desc="Dopasowane do potrzeb, kompleksowe zarządzanie procesami biznesowymi w przedsiębiorstwie."
				price="1625.00 zł"
			/>
			<ProductCard
				icon="/assets/images/robot.svg"
				title="Comarch IBARD ERP Backup 10GB"
				desc="Automatyzacje powtarzalnych i nieproduktywnych czynności wykonywanych przez człowieka."
				price="1625.00 zł"
			/>
			<ProductCard
				icon="/assets/images/support.svg"
				title="Comarch ERP OPTIMA - Pakiet START Firma"
				desc="Wsparcie, doradctwo i opieka w zakresie systemów teleinformatycznych."
				price="1625.00 zł"
			/>
		</div>
	</div>
</section>
